<h1 mat-dialog-title>Enter S3 endpoint details</h1>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Endpoint</mat-label>
    <input matInput [(ngModel)]="data.endpoint">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Access Key</mat-label>
    <input matInput [(ngModel)]="data.access_key">
  </mat-form-field><br>
  <mat-form-field class="full-width">
    <mat-label>Secret Key</mat-label>
    <input matInput [(ngModel)]="data.secret_key">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial>Connect</button>
</mat-dialog-actions>
