<mat-toolbar color="primary">
    <span>S3 Browser 
        @if (selectedBucket) {
            | Browsing bucket: {{selectedBucket}}
        } @else {
            | No bucket selected
        }
    </span>
    <span class="fill-remaining-space"></span>
    <span class="top-space">
        <mat-form-field>
            <mat-label color="accent">Bucket</mat-label>
            <mat-select [(value)]="selectedBucket" (selectionChange)="onBucketChange($event)" color="accent">
                @for (bucket of buckets; track bucket) {
                    <mat-option color="red" value="{{bucket}}">{{bucket}}</mat-option>
                }     
            </mat-select>
        </mat-form-field>
    </span>
</mat-toolbar>
  
